{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "curly": 2,
    "eslint-comments/no-unlimited-disable": 0,
    "func-names": 2,
    "import/default": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-named-as-default-member": 0,
    "no-alert": 0,
    "no-console": [2, { "allow": ["warn", "error"] }],
    "no-duplicate-imports": 2,
    "prefer-const": 2,
    "react-hooks/exhaustive-deps": 0,
    "react/display-name": 2,
    "react/jsx-boolean-value": 2,
    "react/jsx-key": 2,
    "react/jsx-uses-vars": 2,
    "react/no-string-refs": 2,
    "react/no-unknown-property": 2,
    "react/prefer-stateless-function": 2,
    "react/self-closing-comp": 2,
    "import/order": [
      2,
      {
        "groups": ["external", "internal"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
